<div class="flex flex-wrap mt-8 gap-4 max-w-md md:max-w-4xl mx-auto justify-center">
  {% for collection in section.settings.collection_list %}
    {% if collection.featured_image != blank %}
      {% assign collection_image = collection.featured_image %}
    {% else %}
      {% assign collection_image = collection.products.first.image %}
    {% endif %}

    <div class="w-32 h-32 md:w-36 md:h-36 p-6 border-4 border-gray-400/50 rounded-full shadow-lg shadow-gray-600">
      <a href="{{ collection.url }}">
        {{ collection_image | image_url: width: 200 | image_tag: class: "w-full h-full object-cover transition duration-500 ease-in-out transform hover:scale-105", alt: collection.title }}
      </a>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Featured Organizations",
    "settings": [
      {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 5
      }
    ]
  }
{% endschema %}